/* 🍀 */

.container{
    margin: 5rem 0;
}
/* 🍀 */
.first-title{

    font-size: 2rem;
}


.main-nav {
    background-color: var(--color-850);

    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.nav li {
    display: inline;
    padding: 0 5%;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: var(--color-50)
}

/* 🍀 */

.shop_items{
    width: 999px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    align-content: center;

    margin: auto;
    padding: 2rem;

}
.shop_item{    
    width: 450px;    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.shop_item-title,
.shop_item-price{
    font-weight: 900;
}

.shop_item-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 1rem;
}
.shop_item-details div{
    margin: 0 3rem;
}

/* 🍀 flex로 table처럼 만듬 */

.cart-section{
    width: 900px;
    margin: auto;
}

.cart-row{
    display: flex;
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-880);
    margin-right: 1.5rem;
    margin-top: 10px;
    padding-bottom: 10px;
}

.cart-item{
    width: 45%; /* css10 */
    padding-left: 5rem;
}

.cart-price{
    width: 20%; /* css10 */
}

.cart-quantity{
    width: 35%; /* css10 */
}



/* js */

/* .cart-total */
.cart-total{
    text-align: end;
    margin-top: 1rem;
    margin-right: 1.5rem;

    font-size: 2rem;
}

.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
     background-color: var(--color-820);
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.btn-danger {
    background: linear-gradient(to bottom, var(--color-20-dark) 5%, var(--color-20) 100%);
    font-size: 7px;
  
    border-radius: 0.5rem;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    cursor: pointer;

    border: 1px solid transparent;
}
.btn-danger:hover {
    background: linear-gradient(to bottom, var(--color-20) 5%, var(--color-20-dark) 100%);
    background-color: var(--color-20);
}

.btn-purchase{
    padding: 2rem 10rem;
    
    margin: auto;
    margin-top: 5rem;
}

